@import url("https://fonts.googleapis.com/css?family=Inconsolata|Montserrat:200,400,500");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: url("../images/snow-1185474_1280.jpg") no-repeat center center fixed;
  background-size: cover; }

.main-container {
  color: #313131;
  width: 90%;
  max-width: 700px;
  margin: 0 auto; }
  .main-container .heading-container {
    text-align: center;
    margin: 3rem 0; }
    .main-container .heading-container .header {
      margin-bottom: 2rem;
      font-size: 3rem;
      color: #00FF7F;
      font-family: 'Inconsolata', monospace; }
    .main-container .heading-container p {
      font-size: 1.5rem;
      color: #dcdcdc; }
  .main-container .quote-container {
    width: 100%;
    background: rgba(220, 220, 220, 0.7);
    padding: 1.2rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .main-container .quote-container .quote-box {
      margin-bottom: 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      width: 100%;
      padding: 1rem;
      line-height: 1.5rem;
      font-size: 1.8rem; }
      .main-container .quote-container .quote-box p {
        text-align: center;
        width: 100%;
        line-height: 2rem;
        padding: 0; }
        .main-container .quote-container .quote-box p i {
          margin: 0 0.8rem; }
      .main-container .quote-container .quote-box span {
        -webkit-transition: ease-in-out 1s;
        transition: ease-in-out 1s;
        text-align: right;
        width: 100%;
        font-size: 1.3rem;
        font-weight: 400; }
    .main-container .quote-container .buttons-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row;
              flex-flow: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .main-container .quote-container .buttons-container .button {
        padding: 1.5rem;
        margin: 0;
        font-size: 1rem;
        text-align: center;
        background-color: #ffffff;
        text-shadow: 3px 3px 11px #272634;
        border-style: none;
        color: #313131;
        border-radius: 50%;
        -webkit-transition: ease-in-out 0.3s;
        transition: ease-in-out 0.3s;
        cursor: pointer; }
        .main-container .quote-container .buttons-container .button i {
          font-size: 3rem; }
      .main-container .quote-container .buttons-container .button:focus, .main-container .quote-container .buttons-container .button:active {
        outline: none; }
      .main-container .quote-container .buttons-container .button:hover {
        opacity: 0.7;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        -webkit-transition: ease-in-out 0.3s;
        transition: ease-in-out 0.3s; }
