@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat:200,400,500');

$main-font: 'Montserrat', sans-serif;
$header-color: 	#00FF7F;
$quote-box-color: #dcdcdc;
$descrip-color: #dcdcdc;
$descrip-font-size: 1.5rem;
$header-font-size: 3rem;
$quote-font-size: 1.8rem;
$author-font-size: 1.3rem;
$author-font-weight: 400;
$font-color: #313131;
$buttons-color: #f5f5f5;
$background-img: url('../images/snow-1185474_1280.jpg'); // source:https://pixabay.com/en/snow-sunset-hiking-cold-1185474/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $main-font;
    background: $background-img no-repeat center center fixed;
    background-size: cover;
}

.main-container{
  color: $font-color;
  width:90%;
  max-width:700px;
  margin:0 auto;
  .heading-container {
    text-align: center;
    margin:3rem 0;
    .header{
      margin-bottom: 2rem;
      font-size: $header-font-size;
      color:$header-color;
      font-family: 'Inconsolata', monospace;
    }
    p {
      font-size:$descrip-font-size;
      color:$descrip-color;
    }
  }
  .quote-container{
    width:100%;
    background: $quote-box-color;
    padding:1.2rem;
    border-radius:0.5rem;
    margin-bottom:1rem;
    background:rgba(255,255,255,0.7);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    .quote-box{
      margin-bottom:1rem;
      display:flex;
      flex-flow: column wrap;
      width:100%;
      padding:1rem;
      line-height: 1.5rem;
      font-size:$quote-font-size;
      p{
        transition: ease-in-out 1s;
        text-align: center;
        width:100%;
        line-height: 2rem;
        padding:0;
        i{
          margin: 0 0.8rem;
        }
      }
      span {
        transition: ease-in-out 1s;
        text-align: right;
        width:100%;
        font-size: $author-font-size;
        font-weight:$author-font-weight;
      }
    }
    .buttons-container{
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
      .button{
        padding:1.5rem;
        margin:0;
        font-size: 1rem;
        text-align: center;
        background-color: $buttons-color;
        text-shadow: 3px 3px 11px #272634;
        border-style: none;
        color:$font-color;
        border-radius: 50%;
        transition: ease-in-out 0.3s;
        cursor: pointer;
        i {
          font-size: 3rem;
        }
      }
      .button:focus, .button:active {
        outline:none;
      }
      .button:hover {
        opacity: 0.7;
        transform: scale(1.1);
        transition: ease-in-out 0.3s;
      }
    }
  }
}
