@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500');

$main-font: 'Montserrat', sans-serif;
$quote-font-size: 1.3rem;
$author-font-size: 0.8rem;
$author-font-weight: 400;
$font-color: black;


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: blue;
    font-family: $main-font;

    //text-align: center;
}
h1{
  margin-bottom: 2rem;
}

.main-container{
  color: $font-color;
  width:90%;
  max-width:650px;
  margin:0 auto;
  .heading-container {
    text-align: center;
    margin:3rem 0;
  }
  .quote-container{
    width:100%;
    background:#f5f5f5;
    padding:1.2rem;
    border-radius:0.5rem;
    .quote-box{
      margin-bottom:1rem;
      display:flex;
      flex-flow: column wrap;
      width:100%;
      padding:1rem;
      line-height: 1.5rem;
      font-size:$quote-font-size;
      p{
        text-align: center;
        width:100%;
        padding:0;
      }
      span {
        text-align: right;
        width:100%;
        font-size: $author-font-size;
        font-weight:$author-font-weight;
      }
    }
    .buttons-container{
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
      .newQuote {
        width:9rem;
        padding:1rem;
        height:4rem;
        font-size: 1rem;
        text-align: center;
        border-radius: 0.5rem;
        border-style: none;
        color:$font-color;
      }
      #tweet {
        i {
          font-size: 4rem;
        }
      }
    }
  }
}

#twitter {
  i {
    font-size:5rem;
  }
}
